body
{
	font-family: Calibri;
}
.mainwrapper
{
	width: 80%;
	margin: auto;
}
.left-content
{
	float: left;
}
.left-content img
{
	width: 200px;
	height: 150px;
}
.right-content
{
	float: right;
	color: silver;
	text-align: right;
}
.right-content img
{
	width: 20px;
	padding: 0px 5px;
}
.right-content a
{
	color: silver;
	text-decoration: none;
}
.right-content a:hover
{
	color: black;
}
.navigation
{
	clear: both;
	height: 50px;
}
.navigation ul
{
	height: 100%;
	padding: 0px;
}
.navigation li
{
	display: inline-block;
	/*padding: 20%;*/
	/*vertical-align: baseline;*/
	line-height: 50px;
	/*margin-right: 10px;*/
	width: 20%;
	text-align: center;
	color: white;
	height: 100%;
	font-size: 1.4em;

	/*border-right: 2px solid white;*/
}
.navigation li a
{
	color: #8D8D8D;
	text-decoration: none;
	font-size: 1.1em;
}
.navigation li:hover
{
	background-color: #8CC63F;
	cursor: pointer;
}
.navigation li a:hover
{
	color: white;
}
#play
{
	/*border-left: 2px solid white;*/
}
.navigation li input[type=text]
{
	padding: 2px;
	height: 50%;
	width: 80%;
}
.footer
{
	background-color: #323232;
	color: white;
	width: 79%;
	margin: auto;
	position: absolute;
}
.content a
{
	color: white;
	text-decoration: none;
}
.content a:hover
{
	text-decoration: underline;
}
.content
{
	float: left;
	margin: 30px;
}
.bottom
{
	clear: both;
	background-color: black;
	padding: 7px;
}